# Python
.venv/
__pycache__/
*.pyc
*.pyo
.env

# DuckDB
data/
*.duckdb

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Dagster
.tmp_dagster_home_*

# OS
.DS_Store

# IDE
.vscode/

# Logs
logs/

# Mes notes 

notes.txt

# Images 
*.png
image.png

# Dagster 
*.dagster

reservio_watcher.py
image-1.png
image.png
.dagster/
Appercu_dashboard_crypto_2.png
Appercu_dashboard_crypto.png